body {
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
  position: fixed;
}
#light {
  height: 32px;
  width: 32px;
  background-size: contain;
  text-align: center;
  line-height: 32px;
  color: white;
  cursor: default;
  user-select: none;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -26px;
  min-width: 50px;
  white-space: nowrap;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 10px;
  margin-left: 5px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 10px;
  margin-left: 5px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
#animate-marker {
  background-size: contain;
  height: 32px;
  width: 32px;
  cursor: default;
}
#event {
  background-size: contain;
  height: 32px;
  width: 32px;
  cursor: default;
}